@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:bg-gray-800 dark:text-gray-300;
  height: -webkit-fill-available;
}

body {
  @apply h-screen;
  min-height: -webkit-fill-available;
}

.full-height {
  @apply h-screen;
  min-height: -webkit-fill-available;
}

a {
  @apply text-pink-900 dark:text-pink-400 underline;
}

a:hover {
  @apply text-pink-900 dark:text-pink-200 underline;
}
